@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1f1f1f;
}
 .hidden-x-scrollbar::-webkit-scrollbar {
      display: none;
  }
.hidden-x-scrollbar::-webkit-scrollbar-thumb {
     display: none;
  }


.hidden-x-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: 2px;
}

